$main-color:#f3d955;
$green-color:#51643d ;
$light-color:#ebe5d0;
$medium-color: #ebe5d0;

.container
{
    width: 1300px;
    margin: auto;
}


//Text styles

.text{
    &-primary
    {
        color: $main-color;
    }
}

//Buttom styles

.btn
{

    
    &-green
    {
        color: $main-color;
        background: $green-color;
        padding: 1rem 2.5rem;
        border: $main-color 1px solid;
    }

    &-light
    {
        background: $light-color;
        color: #000;
        border: 1px #000 solid;
        padding: 1rem 2.5rem;
        position:relative ;
    }

    &-dark
    {
        color: #000;
        background: $main-color;
        border: 1px #000 solid;
        padding: 0.8rem 2.5rem;
    }

    &-simple
    {
        padding: 0.8rem 2.5rem;
        color: #000;
        border: 1px #000 solid;

        &:hover
        {
            background: #000;
            color: #fff;
            transition: 0.4s;
        }
    }
}



